Repository ferncabrera/open_ims, pull requests merged in 2023-08, with the labels that each got.

#41 Update README.md
  README.md
Labels: documentation

#42 implemented node 'pg' package best practice; implemented pgadmin4
  common/database/pgadmin/.env
  common/database/pgadmin/kustomization.yaml
  common/database/pgadmin/pgadmin-config.yaml
  common/database/pgadmin/pgadmin-persistent-volume-claim.yaml
  common/database/pgadmin/pgadmin-secret.yaml
  common/database/pgadmin/pgadmin-service.yaml
  common/database/pgadmin/pgadmin-statefuls-set.yaml
  common/ingress/base/ingress-service.yaml
  microservices/server/db/index.ts
  microservices/server/index.ts
  skaffold.yaml
Labels: documentation, critical, database, ci/cd

#44 Backend Architecture Implementation
  microservices/server/index.ts
  microservices/server/src/controllers/open_ims.ts
  microservices/server/src/controllers/test.ts
  microservices/server/src/db/helpers/index.ts
  microservices/server/src/db/index.ts
  microservices/server/src/db/queries/index.ts
  microservices/server/src/routes/initialize/index.ts
  microservices/server/src/routes/open_ims.ts
  microservices/server/src/routes/test.ts
  microservices/server/src/routes/users.ts
  microservices/server/src/utils/catchAsync.ts
Labels: server

#48 13 create a simple testingdeployment pattern
  .github/workflows/user_branch_build_test.yaml
  common/database/kustomize/base/postgres-stateful-set.yaml
  common/database/kustomize/overlays/dev/kustomization.yaml
  common/database/kustomize/overlays/dev/postgres-credentials.yaml
  common/database/pgadmin/.env
  common/database/pgadmin/pgadmin-secret.yaml
  common/pgadmin/base/kustomization.yaml
  common/pgadmin/base/pgadmin-config.yaml
  common/pgadmin/base/pgadmin-persistent-volume-claim.yaml
  common/pgadmin/base/pgadmin-service.yaml
  common/pgadmin/base/pgadmin-statefuls-set.yaml
  common/pgadmin/overlays/dev/.env
  common/pgadmin/overlays/dev/kustomization.yaml
  common/pgadmin/overlays/dev/pgadmin-credentials.yaml
  common/secrets/dev/kustomization.yaml
  microservices/server/kustomize/base/server-deployment.yaml
  microservices/server/kustomize/overlays/dev/kustomization.yaml
  microservices/server/kustomize/overlays/dev/postgres-credentials-patch.json
  microservices/server/src/db/index.ts
  skaffold.yaml
Labels: enhancement, ci/cd

#50 Front-end test implementations: Vitest
  .gitignore
  microservices/client/.eslintrc.cjs
  microservices/client/package-lock.json
  microservices/client/package.json
  microservices/client/src/components/forms/Password.tsx
  microservices/client/src/components/modals/CenteredModal.tsx
  microservices/client/src/containers/auth/Login/index.tsx
  microservices/client/src/containers/auth/Register/index.tsx
  microservices/client/src/containers/auth/tests/Login.test.tsx
  microservices/client/src/containers/auth/tests/Register.test.tsx
  microservices/client/src/containers/auth/tests/__snapshots__/Login.test.tsx.snap
  microservices/client/src/containers/auth/tests/__snapshots__/Register.test.tsx.snap
  microservices/client/src/main.tsx
  microservices/client/tests/setup.js
  microservices/client/tsconfig.json
  microservices/client/vite.config.ts
Labels: critical, client

#55 Form Field Fixes
  microservices/client/src/components/forms/Password.tsx
  microservices/client/src/containers/auth/Login/index.module.scss
  microservices/client/src/containers/auth/Login/index.tsx
  microservices/client/src/containers/auth/Register/index.module.scss
  microservices/client/src/containers/auth/Register/index.tsx
  microservices/client/src/containers/auth/index.module.scss
  microservices/client/src/containers/auth/tests/__snapshots__/Login.test.tsx.snap
  microservices/client/src/containers/auth/tests/__snapshots__/Register.test.tsx.snap
  microservices/client/src/styles/forms.scss
  microservices/client/src/styles/general/variables.scss
Labels: bug

#75 finalizing local db development
  common/utils/migration-job/index.js
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-up.sql
Labels: database

#76 Sidebar - MainContainer Implementation
  microservices/client/src/components/mainComponents/ProfileIcon.tsx
  microservices/client/src/components/mainComponents/Sidebar.tsx
  microservices/client/src/components/mainComponents/profileIcon.module.scss
  microservices/client/src/components/mainComponents/sidebar.module.scss
  microservices/client/src/containers/MainContainer.tsx
  microservices/client/src/containers/main/MainContainer.tsx
  microservices/client/src/containers/main/index.module.scss
  microservices/client/src/routes.tsx
  microservices/client/src/styles/general/colors.scss
  microservices/client/src/styles/general/index.scss
Labels: critical, client, waiting for review
