Repository ferncabrera/open_ims, pull requests merged in 2023-12, with the labels that each got.

#110 fix password not updating on reset
  microservices/client/src/containers/auth/ResetPass/index.tsx
Labels: bug, client

#132 recoil implementation
  microservices/client/package-lock.json
  microservices/client/package.json
  microservices/client/src/atoms/state.ts
  microservices/client/src/components/banners/GlobalBanner.tsx
  microservices/client/src/components/banners/index.module.scss
  microservices/client/src/containers/auth/Login/index.tsx
  microservices/client/src/containers/auth/Register/index.tsx
  microservices/client/src/containers/auth/index.tsx
  microservices/client/src/containers/auth/tests/Login.test.tsx
  microservices/client/src/containers/auth/tests/Register.test.tsx
  microservices/client/src/containers/auth/tests/__snapshots__/Login.test.tsx.snap
  microservices/client/src/globals.d.ts
  microservices/client/src/main.tsx
  microservices/client/src/styles/general/colors.scss
  microservices/server/src/controllers/users.ts
Labels: client

#138 DB normalization, re-org, and admin user creation
  README.md
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-down.sql
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-up.sql
  scripts/create-secrets-and-config-map.sh
  start.sh
Labels: database

#141 Reusable React Table
  microservices/client/package-lock.json
  microservices/client/package.json
  microservices/client/src/assets/public/mockData/MOCK_DATA.json
  microservices/client/src/atoms/debugger.ts
  microservices/client/src/components/forms/Password.module.scss
  microservices/client/src/components/mainComponents/Sidebar.tsx
  microservices/client/src/components/table/BasicSearchFilters.module.scss
  microservices/client/src/components/table/BasicSearchFilters.tsx
  microservices/client/src/components/table/CCGTable.tsx
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/customers/TableSchema.tsx
  microservices/client/src/containers/main/MainContainer.tsx
  microservices/client/src/main.tsx
  microservices/client/src/routes.tsx
  microservices/client/src/styles/buttons.scss
  microservices/client/src/styles/general/colors.scss
  microservices/client/src/styles/general/index.scss
  microservices/client/src/styles/tables.scss
  microservices/server/src/controllers/customers.ts
  microservices/server/src/controllers/users.ts
  microservices/server/src/routes/customers.ts
  microservices/server/src/routes/initialize/index.ts
Labels: critical, priority one, client

#147 make search case insesnsitive
  microservices/server/src/controllers/customers.ts
Labels: bug

#151 crud controller implementation
  microservices/client/src/atoms/state.ts
  microservices/client/src/components/table/TableLink.tsx
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/customers/TableSchema.tsx
  microservices/client/src/containers/operationController/OperationController.tsx
  microservices/client/src/containers/operationController/RenderEdit.tsx
  microservices/client/src/containers/operationController/RenderNew.tsx
  microservices/client/src/containers/operationController/RenderRead.tsx
  microservices/client/src/globals.d.ts
  microservices/client/src/main.tsx
  microservices/client/src/routes.tsx
Labels: critical, client
