Repository ferncabrera/open_ims, pull requests merged in 2023-09, with the labels that each got.

#86 Joseph branch
  README.md
  common/database/kustomize/overlays/dev/postgres-credentials.yaml
  img/image-1.png
  img/image-2.png
  img/image-3.png
  microservices/client/src/assets/public/images/forgotPass.jpg
  microservices/client/src/containers/auth/Login/index.tsx
  microservices/client/src/containers/auth/ResetPass/index.module.scss
  microservices/client/src/containers/auth/ResetPass/index.tsx
  microservices/client/src/containers/auth/ResetPass/pass.tsx
  microservices/client/src/globals.d.ts
  microservices/client/src/routes.tsx
  microservices/client/src/utilities/apiCall.ts
  microservices/client/src/utilities/apiHelpers.ts
  microservices/server/kustomize/base/server-deployment.yaml
  microservices/server/kustomize/overlays/dev/postgres-credentials-patch.json
  microservices/server/kustomize/overlays/prod/postgres-credentials-patch.json
  microservices/server/middleware/errorHandler.ts
  microservices/server/package-lock.json
  microservices/server/package.json
  microservices/server/src/controllers/forgot_pass.ts
  microservices/server/src/routes/forgot_pass.ts
  microservices/server/src/routes/initialize/index.ts
  microservices/server/src/routes/users.ts
  microservices/server/src/utils/revokedTokens.ts
Labels: priority one, client, server

#90 dockerfile changes
  .gitignore
  Linux.md
  common/utils/migration-job/Dockerfile
  common/utils/migration-job/Dockerfile.migrations
  microservices/server/Dockerfile
  microservices/server/Dockerfile.dev
Labels: priority one, waiting for review

#92 introducing un-committable .env file
  .gitignore
  README.md
  common/database/kustomize/overlays/dev/postgres-credentials.yaml
  common/database/kustomize/overlays/prod/postgres-credentials.yaml
  common/pgadmin/overlays/dev/.env
  common/pgadmin/overlays/dev/kustomization.yaml
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-down.sql
  microservices/client/kustomize/overlays/dev/.env
  microservices/client/kustomize/overlays/dev/kustomization.yaml
  microservices/client/kustomize/overlays/prod/.env
  microservices/client/kustomize/overlays/prod/kustomization.yaml
  microservices/client/src/containers/ServerPing.tsx
  microservices/client/src/routes.tsx
  microservices/server/Dockerfile
  microservices/server/Dockerfile.dev
  microservices/server/kustomize/base/server-deployment.yaml
  microservices/server/kustomize/overlays/dev/.server.example.env
  microservices/server/kustomize/overlays/dev/kustomization.yaml
  microservices/server/kustomize/overlays/dev/postgres-credentials-patch.json
  microservices/server/kustomize/overlays/prod/postgres-credentials-patch.json
  microservices/server/src/controllers/test.ts
  microservices/server/src/routes/initialize/index.ts
  microservices/server/src/routes/test.ts
  run-prod.sh
  scripts/create-migration.sh
  scripts/create-secrets-prod-local.sh
  scripts/env-prune.sh
Labels: enhancement, server, ci/cd

#93 using production url for forgot password
  microservices/server/src/controllers/forgot_pass.ts
Labels: bug, enhancement, client
