Repository ferncabrera/open_ims, pull requests merged in 2024-06, with the labels that each got.

#210 Some fixes here and there - Dev Oliver
  microservices/client/src/components/graphics/StatusPill.module.scss
  microservices/client/src/components/table/CCGTable.tsx
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/employees/DefaultEmployees.tsx
  microservices/client/src/containers/invoices/DefaultInvoices.tsx
  microservices/client/src/containers/purchaseOrders/DefaultPurchaseOrders.tsx
  microservices/client/src/containers/purchaseOrders/TableSchema.tsx
  microservices/client/src/containers/users/DefaultUsers.tsx
  microservices/client/src/containers/users/TableSchema.tsx
  microservices/client/src/containers/vendors/DefaultVendors.tsx
  microservices/server/src/controllers/customers.ts
  microservices/server/src/controllers/purchase_orders.ts
  microservices/server/src/controllers/users.ts
  microservices/server/src/controllers/vendors.ts
  microservices/server/src/middleware/errorHandler.ts
Labels: enhancement

#218 Style change views
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/customers/ReadCustomer.tsx
  microservices/client/src/containers/employees/DefaultEmployees.tsx
  microservices/client/src/containers/invoices/DefaultInvoices.tsx
  microservices/client/src/containers/purchaseOrders/DefaultPurchaseOrders.tsx
  microservices/client/src/containers/users/DefaultUsers.tsx
  microservices/client/src/containers/vendors/DefaultVendors.tsx
Labels: client, waiting for review

#225 Vendors crud
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-up.sql
  microservices/client/src/components/forms/CrudForm.tsx
  microservices/client/src/components/table/CCGTable.tsx
  microservices/client/src/containers/customers/EditCreateCustomer.tsx
  microservices/client/src/containers/customers/ReadCustomer.tsx
  microservices/client/src/containers/customers/ReadTableSchema.tsx
  microservices/client/src/containers/invoices/EditCreateInvoice.tsx
  microservices/client/src/containers/invoices/ProductTableSchema.tsx
  microservices/client/src/containers/invoices/ReadInvoice.tsx
  microservices/client/src/containers/invoices/TableSchema.tsx
  microservices/client/src/containers/operationController/RenderEdit.tsx
  microservices/client/src/containers/operationController/RenderNew.tsx
  microservices/client/src/containers/operationController/RenderRead.tsx
  microservices/client/src/containers/vendors/DefaultVendors.tsx
  microservices/client/src/containers/vendors/EditCreateVendor.tsx
  microservices/client/src/containers/vendors/ReadVendor.tsx
  microservices/client/src/containers/vendors/VendorPurchaseTableSchema.tsx
  microservices/client/src/utilities/helpers/functions.ts
  microservices/client/src/utilities/validation.ts
  microservices/server/package-lock.json
  microservices/server/src/controllers/customers.ts
  microservices/server/src/controllers/invoices.ts
  microservices/server/src/controllers/purchase_orders.ts
  microservices/server/src/controllers/vendors.ts
  microservices/server/src/routes/customers.ts
  microservices/server/src/routes/invoices.ts
  microservices/server/src/routes/vendors.ts
Labels: client, server

#232 Dashboarding first implementation/POC w/ Grafana finalized
  common/grafana/kustomize/overlays/dev/Test-1.json
  common/grafana/kustomize/overlays/prod/Test-1.json
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-up.sql
  microservices/client/.env.development
  microservices/client/Dockerfile.staging
  microservices/client/package.json
  microservices/client/src/components/calendars/CCGDateRangePicker.tsx
  microservices/client/src/containers/dashboard/AdminDashboard.tsx
  microservices/client/src/containers/operationController/OperationController.tsx
  microservices/client/src/utilities/helpers/functions.ts
  microservices/client/src/utilities/types/types.ts
Labels: enhancement, critical, design, client

#236 Switched from Recoil to Jotai yay! And some other small misc changes
  Linux.md
  common/grafana/kustomize/overlays/dev/Test-1.json
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-up.sql
  microservices/client/kustomize/overlays/dev/kustomization.yaml
  microservices/client/package-lock.json
  microservices/client/package.json
  microservices/client/src/atoms/atoms.ts
  microservices/client/src/atoms/debugger.ts
  microservices/client/src/atoms/state.ts
  microservices/client/src/components/banners/GlobalBanner.tsx
  microservices/client/src/components/charts/CCGChart.tsx
  microservices/client/src/components/forms/CrudForm.tsx
  microservices/client/src/components/forms/Password.tsx
  microservices/client/src/components/graphics/StatusPill.tsx
  microservices/client/src/components/modals/CenteredModal.tsx
  microservices/client/src/components/table/CCGTable.tsx
  microservices/client/src/components/table/TableLink.tsx
  microservices/client/src/containers/auth/Login/index.tsx
  microservices/client/src/containers/auth/Register/index.tsx
  microservices/client/src/containers/auth/tests/Login.test.tsx
  microservices/client/src/containers/auth/tests/Register.test.tsx
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/customers/EditCreateCustomer.tsx
  microservices/client/src/containers/customers/ReadCustomer.tsx
  microservices/client/src/containers/customers/ReadTableSchema.tsx
  microservices/client/src/containers/customers/TableSchema.tsx
  microservices/client/src/containers/dashboard/AdminDashboard.tsx
  microservices/client/src/containers/dashboard/AdminDashboardDEPRECATED.tsx
  microservices/client/src/containers/employees/DefaultEmployees.tsx
  microservices/client/src/containers/invoices/DefaultInvoices.tsx
  microservices/client/src/containers/invoices/EditCreateInvoice.tsx
  microservices/client/src/containers/invoices/ReadInvoice.tsx
  microservices/client/src/containers/invoices/TableSchema.tsx
  microservices/client/src/containers/main/MainContainer.tsx
  microservices/client/src/containers/operationController/OperationController.tsx
  microservices/client/src/containers/operationController/RenderRead.tsx
  microservices/client/src/containers/purchaseOrders/DefaultPurchaseOrders.tsx
  microservices/client/src/containers/purchaseOrders/TableSchema.tsx
  microservices/client/src/containers/users/DefaultUsers.tsx
  microservices/client/src/containers/vendors/DefaultVendors.tsx
  microservices/client/src/containers/vendors/EditCreateVendor.tsx
  microservices/client/src/containers/vendors/ReadVendor.tsx
  microservices/client/src/containers/vendors/TableSchema.tsx
  microservices/client/src/containers/vendors/VendorPurchaseTableSchema.tsx
  microservices/client/src/main.tsx
  microservices/client/src/utilities/types/types.ts
  microservices/client/src/utilities/validation.ts
  microservices/client/src/vite-env.d.ts
  microservices/client/tsconfig.json
  microservices/client/vite.config.ts
Labels: client
