Repository ferncabrera/open_ims, pull requests merged in 2024-01, with the labels that each got.

#155 remove duplicate middleware folder
  microservices/server/middleware/errorHandler.ts
  microservices/server/src/middleware/errorHandler.ts
  microservices/server/src/routes/charts.ts
  microservices/server/src/routes/customers.ts
  microservices/server/src/routes/forgot_pass.ts
Labels: bug, server

#156 57 create dashboardlanding page
  common/utils/migration-job/migrations/sqls/20230814020356-db-initialization-up.sql
  microservices/client/src/components/charts/CCGChart.tsx
  microservices/client/src/containers/dashboard/AdminDashboard.tsx
  microservices/client/src/styles/general/colors.scss
  microservices/server/src/controllers/charts.ts
  microservices/server/src/db/index.ts
  microservices/server/src/routes/charts.ts
  microservices/server/src/utils/types.ts
Labels: critical, priority one, client, server

#171 57 create dashboardlanding page
  microservices/client/src/components/banners/GlobalBanner.tsx
  microservices/client/src/components/cards/SimpleSummaryCard.module.scss
  microservices/client/src/components/cards/SimpleSummaryCard.tsx
  microservices/client/src/components/charts/CCGChart.tsx
  microservices/client/src/containers/dashboard/AdminDashboard.tsx
  microservices/client/src/containers/main/MainContainer.tsx
  microservices/server/src/controllers/charts.ts
  microservices/server/src/middleware/errorHandler.ts
Labels: enhancement, client, waiting for review

#164 Customer Edit Screen
  microservices/client/package-lock.json
  microservices/client/src/atoms/debugger.ts
  microservices/client/src/atoms/state.ts
  microservices/client/src/components/forms/CrudForm.module.scss
  microservices/client/src/components/forms/CrudForm.tsx
  microservices/client/src/components/modals/OverlaySpinner.module.scss
  microservices/client/src/components/modals/OverlaySpinner.tsx
  microservices/client/src/components/table/TableLink.tsx
  microservices/client/src/containers/customers/EditCustomer.tsx
  microservices/client/src/containers/customers/TableSchema.tsx
  microservices/client/src/containers/main/MainContainer.tsx
  microservices/client/src/containers/operationController/OperationController.tsx
  microservices/client/src/containers/operationController/RenderEdit.tsx
  microservices/client/src/globals.d.ts
  microservices/client/src/styles/buttons.scss
  microservices/client/src/styles/forms.scss
  microservices/client/src/styles/general/index.scss
  microservices/client/src/utilities/apiCall.ts
  microservices/client/src/utilities/helpers/functions.ts
  microservices/server/src/controllers/customers.ts
  microservices/server/src/controllers/vendors.ts
  microservices/server/src/db/index.ts
  microservices/server/src/globals.d.ts
  microservices/server/src/routes/customers.ts
  microservices/server/src/routes/initialize/index.ts
  microservices/server/src/routes/vendors.ts
Labels: priority one, waiting for review

#172 Customer Edit (Frontend and Backend Validations)
  microservices/client/src/components/forms/CrudForm.tsx
  microservices/client/src/containers/auth/Login/index.tsx
  microservices/client/src/containers/auth/Register/index.tsx
  microservices/client/src/containers/auth/tests/__snapshots__/Login.test.tsx.snap
  microservices/client/src/containers/auth/tests/__snapshots__/Register.test.tsx.snap
  microservices/client/src/containers/customers/EditCustomer.tsx
  microservices/client/src/styles/forms.scss
  microservices/server/src/controllers/customers.ts
Labels: critical, client, server, waiting for review
