Repository ferncabrera/open_ims, pull requests merged in 2024-05, with the labels that each got.

#188 Create Customer
  microservices/client/src/components/forms/CrudForm.tsx
  microservices/client/src/components/table/TableLink.tsx
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/customers/EditCreateCustomer.tsx
  microservices/client/src/containers/operationController/OperationController.tsx
  microservices/client/src/containers/operationController/RenderEdit.tsx
  microservices/client/src/containers/operationController/RenderNew.tsx
  microservices/server/src/controllers/customers.ts
  microservices/server/src/controllers/users.ts
  microservices/server/src/routes/customers.ts
Labels: priority one, client, server, waiting for review

#202 Initial Grafana implementation
  Makefile
  README.md
  common/config/README.md
  common/grafana/kustomize/base/grafana-cluster-ip-service.yaml
  common/grafana/kustomize/base/grafana-deployment.yaml
  common/grafana/kustomize/base/grafana-pvc.yaml
  common/grafana/kustomize/base/kustomization.yaml
  common/grafana/kustomize/overlays/dev/Test-1.json
  common/grafana/kustomize/overlays/dev/default.yaml
  common/grafana/kustomize/overlays/dev/grafana.ini
  common/grafana/kustomize/overlays/dev/psql-datasource.yaml
  common/grafana/kustomize/overlays/prod/Test-1.json
  common/grafana/kustomize/overlays/prod/default.yaml
  common/grafana/kustomize/overlays/prod/grafana.ini
  common/grafana/kustomize/overlays/prod/psql-datasource.yaml
  common/ingress/base/ingress-service.yaml
  microservices/client/src/containers/dashboard/AdminDashboard.tsx
  microservices/client/src/containers/dashboard/AdminDashboardDEPRECATED.tsx
  microservices/client/src/styles/general/colors.scss
  scripts/create-secrets-and-config-map.sh
  scripts/run-prod.sh
  skaffold.yaml
  start.sh
Labels: enhancement

#206 Add Multi-Filter & Date Support for Tables
  microservices/client/src/components/buttons/filters/DateFilter.module.scss
  microservices/client/src/components/buttons/filters/DateFilter.tsx
  microservices/client/src/components/buttons/filters/FilterButton.tsx
  microservices/client/src/components/table/BasicSearchFilters.module.scss
  microservices/client/src/components/table/BasicSearchFilters.tsx
  microservices/client/src/components/table/CCGTable.tsx
  microservices/client/src/containers/customers/DefaultCustomers.tsx
  microservices/client/src/containers/customers/ReadCustomer.tsx
  microservices/client/src/containers/customers/ReadTableSchema.tsx
  microservices/client/src/containers/employees/DefaultEmployees.tsx
  microservices/client/src/containers/invoices/DefaultInvoices.tsx
  microservices/client/src/containers/invoices/TableSchema.tsx
  microservices/client/src/containers/main/MainContainer.tsx
  microservices/client/src/containers/purchaseOrders/DefaultPurchaseOrders.tsx
  microservices/client/src/containers/users/DefaultUsers.tsx
  microservices/client/src/containers/vendors/DefaultVendors.tsx
  microservices/client/src/styles/buttons.scss
  microservices/client/src/styles/tables.scss
  microservices/server/package-lock.json
  microservices/server/package.json
  microservices/server/src/controllers/customers.ts
  microservices/server/src/controllers/invoices.ts
Labels: critical, client, server

#208 Filter input
  microservices/client/src/components/buttons/filters/InputFilter.tsx
  microservices/client/src/components/table/CCGTable.tsx
  microservices/client/src/containers/customers/ReadCustomer.tsx
  microservices/client/src/containers/invoices/DefaultInvoices.tsx
  microservices/server/src/controllers/invoices.ts
Labels: critical, client, server
